.inputs {
    border-radius: 15px;
    background-color: #EAEAEA;
    border: none;
    outline: none;
}
.button-cancel, .button-finish {
    border-radius: 10px;
    border: none;
    outline: none;
}
.button-cancel {
    color: #4D79F6;
    border: 3px solid #4D79F6;
    background-color: white;
}
.button-finish {
    background-color: #4D79F6;
}